.contenedor-formulario {
    padding: 2.5rem;
}

.visualizacion {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 10px;
}

.circle { 
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.square {
    width: 100%;
    height: 150px;
    border-radius: 80px;
}

#header {
    background: url(../img/header.jpg) top/ cover no-repeat;
}